{% extends "base.html" %}

{% load widget_tweaks %}

{% block conteudo %}
<div class="container">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div>
            {% if hospede.status == 'AGUARDANDO_CHECKIN' %}
                <a href="" class="btn btn-success btn-icon-split btn-sm" data-toggle="modal" data-target="#modal1">
                    <span class="text">Realizar Check-In</span>

                    <span class="icon text-white-50">
                        <i class="fas fa-user-check"></i>
                    </span>
                </a>
                <a href="" class="ml-3 btn btn-warning btn-icon-split btn-sm" data-toggle="modal" data-target="#modal3">
                    <span class="text">Cancelar reserva</span>

                    <span class="icon text-white-50">
                        <i class="fas fa-solid fa-door-open"></i>
                    </span>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="card shadow mb-4">        
        <div class="card-body">
            <h4 class="mb-3 text-primary">
                Informações da reserva
            </h4>
        
            
            <form>
                <div class="form-row">

                    <div class="form-group col-md-4">
                        <label>Reserva no nome de</label>
                        <input type="text" class="form-control" value="{{ hospede.nome_completo }}" disabled>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Status</label>
                        <input type="text" class="form-control" value="{{ hospede.get_status_display }}" disabled>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Número do quarto (ou quartos se houver)</label>
                        <input type="text" class="form-control" value="{% for reserva in hospede.reservas.all %}{% for quarto in reserva.quartos.all %}{{quarto.numero_quarto}}{% if not forloop.last %}, {% endif %}{% endfor %}{% endfor %}" disabled>
                    </div>

                    
                </div>

                <div class="form-row">

                    <div class="form-group col-md-4">
                        <label>Forma de pagamento</label>
                        <input type="text" class="form-control" value="{% for reserva in hospede.reservas.all %}{{ reserva.get_status_forma_pagamento_display }}{% endfor %}" disabled>
                    </div>

                    <div class="form-group col-md-4">
                        <label>Horário previsto para Check-In</label>
                        <input type="text" class="form-control" value="{% for reserva in hospede.reservas.all %}{{ reserva.horario_checkin }}{% endfor %}" disabled>
                    </div>


                    <div class="form-group col-md-4">
                        <label>Horário previsto para o Check-Out</label>
                        <input type="text" class="form-control" value="{% for reserva in hospede.reservas.all %}{{ reserva.horario_checkout }}{% endfor %}" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Reserva registrada por</label>
                        <input type="text" class="form-control" value="{% for reserva in hospede.reservas.all %}{{ reserva.registrado_por }}{% endfor %}" disabled>
                    </div>
                </div>
            </form>
        
            <h4 class="mb-3 mt-4 text-primary">
                Informações do hóspede
            </h4>
            
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Nome completo</label>
                        <input type="text" class="form-control" value="{{ hospede.nome_completo }}" disabled>
                    </div>

                    <div class="form-group col-md-6">
                        <label>CPF</label>
                        <input type="text" class="form-control" value="{{ hospede.get_cpf }}" disabled>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>E-mail</label>
                        <input type="text" class="form-control" value="{{ hospede.email }}" disabled>
                    </div>

                    <div class="form-group col-md-6">
                        <label>Telefone</label>
                        <input type="text" class="form-control" value="{{ hospede.telefone }}" disabled>
                    </div>
                </div>
            </form>
                    
            <p class="mr-2 mt-3 mb-4 text-right">
                <small>
                    Reserva do hospede feita em 
                    {% for reserva in hospede.reservas.all %}
                        {{ reserva.horario_checkout }}
                    {% endfor %} por 
                    {% for reserva in hospede.reservas.all %}
                        {{ reserva.registrado_por }}
                    {% endfor %}
                </small>
            </p>
        
            <div class="mr-1 text-right">
                <a href="{% url "index" %}" class="btn btn-secondary text-white" type="button">
                    <span class="text">Voltar</span>
                </a>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Realizar o check-in do hóspede</h5>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="hospede_id" class="col-sm-2 col-form-label mb-0">Hóspede</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="hospede_id" value="{{ hospede.nome_completo }}" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="hospede_id" class="col-sm-2 col-form-label mb-0">Quarto(s)</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="hospede_id" value="{% for reserva in hospede.reservas.all %}{% for quarto in reserva.quartos.all %}{{quarto.numero_quarto}}{% if not forloop.last %}, {% endif %}{% endfor %}{% endfor %}" disabled>
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <label for="atendente_id" class="col-sm-2 col-form-label mb-0">Atendente</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="atendente_id" value="{{ request.user.portaria.nome_completo }}" disabled>
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" name="action" value="check_in" class="btn btn-primary">Realizar Check-In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancelar a reserva do hóspede</h5>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="hospede_id" class="col-sm-2 col-form-label mb-0">Hóspede</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="hospede_id" value="{{ hospede.nome_completo }}" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="hospede_id" class="col-sm-2 col-form-label mb-0">Quarto(s)</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="hospede_id" value="{% for reserva in hospede.reservas.all %}{% for quarto in reserva.quartos.all %}{{quarto.numero_quarto}}{% if not forloop.last %}, {% endif %}{% endfor %}{% endfor %}" disabled>
                            </div>
                        </div>
                    
                        <div class="form-group row">
                            <label for="atendente_id" class="col-sm-2 col-form-label mb-0">Atendente</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="atendente_id" value="{{ request.user.portaria.nome_completo }}" disabled>
                            </div>
                        </div>
                        <hr>
                        <div class="modal-body">
                            <h5 class="mb-3">
                                Realmente deseja cancelar a reserva?
                            </h5>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                <button type="submit" name="action" value="cancelar_reserva" class="btn btn-primary">Cancelar reserva</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}