{% extends "base.html" %}


{% block conteudo %}

<div class="container-fluid">

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="d-sm-flex align-items-center justify-content-between mb-1">
        <h1 class="h3 mb-0 text-gray-800">{{ inicio_dashboard }}</h1>
        
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <span class='mb-0 text-gray-800'>Visão geral das atividades e estatísticas do hotel</span>
    </div>

    <div class="row mb-4">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-1 font-weight-bold text-primary">Reservas salvas</div>
                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase">
                                {% for reserva in reservas %}
                                    <hr>
                                    <div class="mb-2">
                                        <span class="font-weight-bold text-dark">Reserva em nome de:</span> {{ reserva.nome_hospede }}
                                    </div>
                                    <div>
                                        <span class="font-weight-bold text-dark">Para o dia:</span> {{ reserva.horario_checkin }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="col-auto">
                            <i class="fas fa-solid fa-check fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-1 font-weight-bold text-primary">Check-In do dia</div>
                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase">
                                {% for hoje in checkin_hoje %}
                                <hr>
                                <div class="mb-2">
                                    <span class="font-weight text-dark">Check-in em nome de:</span> {{ hoje.nome_hospede }}
                                </div>
                                <div>
                                    <span class="font-weight text-dark">Para as:</span> {{ hoje.horario_checkin|date:"H:i"}} horas
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        
                        <div class="col-auto">
                            <i class="fas fa-user-check fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-1 font-weight-bold text-primary">Check-Out do dia</div>
                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase">
                                {% for hoje in checkout_hoje %}
                                <hr>
                                <div class="mb-2">
                                    <span class="font-weight text-dark">Check-out do hóspede:</span> {{ hoje.nome_hospede }}
                                </div>
                                <div>
                                    <span class="font-weight text-dark">Para as:</span> {{ hoje.horario_checkout|date:"H:i"}} horas
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-solid fa-door-open fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class='row'>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-1 font-weight-bold text-primary">Ocupação atual do hotel</div>
                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase">
                                <hr>
                                <div class="mb-2">
                                    <span class="font-weight text-dark">Numero de quartos ocupados: </span>{{ ocupacao_hoje }}
                                </div>
                                <div>
                                    <span class="font-weight text-dark">Quartos:
                                        {% for quartos in quartos_ocupados %}
                                            {{ quartos }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </span>
                                </div>

                            </div>
                        </div>
                        
                        <div class="col-auto">
                            <i class="fas fa-solid fa-hotel fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-1 font-weight-bold text-primary">Hóspedes registrados no mês atual</div>
                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase">
                                    <hr>
                                    <div class="mb-2">
                                        <span class="font-weight-bold text-dark">Numero de hóspedes:</span> {{ hospedes_mes }}
                                    </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-1 font-weight-bold text-primary">Estatistica de ocupação do hotel</div>
                            <div class="text-xs font-weight-bold text-gray-800 text-uppercase">
                                <hr>
                                <div class="mb-1">
                                    <span class="font-weight-bold text-dark">Total de reservas realizadas:</span> {{ total_reservas }}
                                </div>
                                <hr>
                                <div class="mb-1">
                                    <span class="font-weight-bold text-dark">Total de check-ins:</span> {{ total_checkins }}
                                </div>
                                <hr>
                                <div class="mb-1">
                                    <span class="font-weight-bold text-dark">Total de check-outs:</span> {{ total_checkouts }}
                                </div>
                                <hr>
                                <div class="mb-1">
                                    <span class="font-weight-bold text-dark">Taxa de ocupação:</span> {{ taxa_ocupacao }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-auto">
                            <i class="fas fa-solid fa-chart-line fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="d-sm-flex align-items-center justify-content-between mb-2">
        <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>

        <div class="d-flex mt-4 mb-4">
            <a href="{% url "hospedes:realizar_reserva" %}" class="btn btn-primary btn-icon-split btn-sm mr-1">
                <span class="text">Realizar reserva</span>
                <span class="icon text-white-50">
                    <i class="fas fa-solid fa-hotel"></i>
                </span>
            </a>
        </div>
    </div>
    </div>
    
    {% if reservas %}
        
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
                    <h4 class="m-0 font-weight-bold text-primary">Reservas feitas</h4>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <th>Nome completo</th>
                                <th>CPF</th>
                                <th>Forma de pagamento</th>
                                <th>Status</th>
                                <th>Horário previsto para Check-In</th>
                                <th>Horário previsto para Check-Out</th>
                                <th>Número do(s) quarto(s)</th>
                                <th>Atendente que realizou a reserva</th>
                                <th>Mais informações</th>
                            </thead>
                            {% for reserva in reservas %}

                                <tbody>             
                                    <tr>
                                        <td>{{ reserva.nome_hospede }}</td>
                                        <td>{{ reserva.nome_hospede.get_cpf }}</td>
                                        <td>{{ reserva.get_status_forma_pagamento_display }}</td>
                                        <td>{{ reserva.get_status_reserva_display }}</td>
                                        <td>{{ reserva.horario_checkin }}</td>
                                        <td>{{ reserva.horario_checkout }}</td>
                                        <td>
                                            {% for quarto in reserva.quartos.all %}
                                                {{ quarto.numero_quarto }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ reserva.registrado_por }}</td>
                                        <td>
                                            <a href="{% url "hospedes:check_in" reserva.nome_hospede.id %}">
                                                Realizar Check-In
                                            </a> 
                                        </td>
                                    </tr>
                                </tbody>

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

    {% endif %}



    {% if hospedes %}
       
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
                    <h4 class="m-0 font-weight-bold text-primary">Hóspedes no hotel</h4>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <th>Nome completo</th>
                                <th>CPF</th>
                                <th>Status</th>
                                <th>Horário do check-in</th>
                                <th>Número do(s) quarto(s)</th>
                                <th>Atendente que realizou check-in</th>
                                <th>Mais informações</th>
                            </thead>

                            {% for hospede in hospedes %}
                                <tbody>
                                        <tr>
                                            <td>{{ hospede.nome_completo }}</td>
                                            <td>{{ hospede.get_cpf }}</td>
                                            <td>{{ hospede.get_status_display }}</td>
                                            <td>{{ hospede.horario_checkin }}</td>
                                            <td>
                                                {% comment %}
                                                    caso queira é possivel exibir apenas numero do quarto
                                                    com {{ quarto.numero_quarto }}
                                                {% endcomment %}
                                                {% for reserva in hospede.reservas.all %}
                                                    {% for quarto in reserva.quartos.all %}
                                                        {{ quarto.numero_quarto }}{% if not forloop.last %}, {% endif %}
                                                    {% endfor %} 
                                                {% endfor %}
                                            </td>
                                            <td>{{ hospede.registrado_por }}</td>
                                            <td>
                                                <a href="{% url "hospedes:check_out" hospede.id %}">
                                                    Realizar Check-Out
                                                </a>
                                            </td>
                                        </tr>
                                </tbody>

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>    

    {% endif %}
</div>

{% endblock conteudo %}