{% extends "base.html" %}


{% block conteudo %}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>

        <div class="d-flex mt-4 mb-4">
            <a href="{% url "hospedes:realizar_reserva" %}" class="btn btn-primary btn-icon-split btn-sm mr-1">
                <span class="text">Realizar reserva</span>
                <span class="icon text-white-50">
                    <i class="fas fa-solid fa-hotel"></i>
                </span>
            </a>

        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Aguardando Check-in</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{visitantes_aguardando}}</div>
                        </div>
                        
                        <div class="col-auto">
                            <i class="fas fa-user-lock fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Quartos ocupados</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{visitantes_em_visita}}</div>
                        </div>
                        
                        <div class="col-auto">
                            <i class="fas fa-user-clock fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Check-Out concluído</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{visitantes_finalizado}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-check fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Hóspedes registrados no mês atual</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{visitante_mes}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% if reservas %}
        
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
                    <h5 class="m-0 font-weight-bold text-primary">Reservas feitas</h5>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <th>Nome completo</th>
                                <th>CPF</th>
                                <th>Forma de pagamento</th>
                                <th>Status</th>
                                <th>Horário previsto para Check-In</th>
                                <th>Horário previsto para Check-Out</th>
                                <th>Número do quarto (ou quartos se houver)</th>
                                <th>Atendente que realizou a reserva</th>
                                <th>Mais informações</th>
                            </thead>
                            {% for reserva in reservas %}

                                <tbody>             
                                    <tr>
                                        <td>{{ reserva.nome_hospede }}</td>
                                        <td>{{ reserva.nome_hospede.get_cpf }}</td>
                                        <td>{{ reserva.get_status_forma_pagamento_display }}</td>
                                        <td>{{ reserva.get_status_reserva_display }}</td>
                                        <td>{{ reserva.horario_checkin }}</td>
                                        <td>{{ reserva.horario_checkout }}</td>
                                        <td>
                                            {% for quarto in reserva.quartos.all %}
                                                {{ quarto.numero_quarto }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{ reserva.registrado_por }}</td>
                                        <td>
                                            <a href="{% url "hospedes:hospede_info" reserva.nome_hospede.id %}">
                                                Realizar Check-In
                                            </a> 
                                        </td>
                                    </tr>
                                </tbody>

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

    {% endif %}



    {% if hospedes %}
       
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
                    <h5 class="m-0 font-weight-bold text-primary">Hóspedes no hotel</h5>
                </div>
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <th>Nome completo</th>
                                <th>CPF</th>
                                <th>Status</th>
                                <th>Horário do check-in</th>
                                <th>Número do quarto (ou quartos se houver)</th>
                                <th>Atendente que realizou check-in</th>
                                <th>Mais informações</th>
                            </thead>

                            {% for hospede in hospedes %}
                                <tbody>
                                        <tr>
                                            <td>{{ hospede.nome_completo }}</td>
                                            <td>{{ hospede.get_cpf }}</td>
                                            <td>{{ hospede.get_status_display }}</td>
                                            <td>{{ hospede.horario_checkin }}</td>
                                            <td>
                                                {{ hospede.reservas }}
                                            </td>
                                            <td>{{ hospede.registrado_por }}</td>
                                            <td>
                                                <a href="{% url "hospedes:hospede_info" hospede.id %}">
                                                    Realizar Check-Out
                                                </a>
                                            </td>
                                        </tr>
                                </tbody>

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>    

    {% endif %}
</div>

{% endblock conteudo %}